<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerente</title>
    <link rel="stylesheet" href="css/GerenteCss.css">
</head>
<body>

    <header>
        <section id="menu">
            <ul>
                <a href="#">Usuarios</a>
                <a href="#">Clientes</a>
                <a href="#">Solicitudes</a>
                <a href="#">Consultar Estado de la Solicitud</a>
                <a href="#">Cerrar Sesión</a>
            </ul>
        </section>
    </header>

</body>
</html>